


<section class="flex gap-30 ">
    <article class="flex flex-col ">
        <div class="">sdaf</div>
        <div class="">daf</div>
        <div class=""></div>
    </article>
    <article class="">
        <div class=""></div>
    </article>
</section>

<style>
    section {
        width: 100%;
        height: 100vh;
        
    }
</style>
