


<section class="flex gap-30 ">
    <article class="flex flex-col ">
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
    </article>
    <article class="">
        <div class=""></div>
    </article>
</section>

