---
import Layout from '../layouts/Layout.astro';
import Bubble from '../components/bubble.astro';
import Header from '../components/sections/header.astro';
import Info from '../components/sections/info.astro';
import Footer from '../components/sections/footer.astro';
---

<Layout title="Magma Maintained">
	<main>
		<Bubble opacity="0.5"/>
		<Header />
		<Info />
		<Footer />
	</main>
</Layout>

<style>
	
</style>
