<div class="w-full text-center px-96 py-2 mx-auto border-y-[2px] border-blue-500 bg-blue-300 bg-opacity-40 flex justify-center items-center my-1">
    <h4 class="n-bold">Info:</h4> <h4 class="n-medium ">This is a info line for the page</h4>
</div>