<div class="w-full text-center px-96 py-2 mx-auto border-y-[2px] border-green-500 bg-green-300 bg-opacity-40 flex justify-center items-center my-1">
    <h4 class="n-bold">Success:</h4> <h4 class="n-medium ">This is a success line for the page</h4>
</div>