<div class="w-full text-center px-96 py-2 mx-auto border-y-[2px] border-dashed border-yellow-500 bg-yellow-300 bg-opacity-40 flex justify-center items-center my-1">
    <h4 class="n-bold">Warning:</h4> <h4 class="n-medium ">This is a warning for the page</h4>
</div>